<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f290162764fbd09e148d878ff4295b80 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f290162764fbd09e148d878ff4295b80" ></div>
        
</body>
<script>
    
    
            var map_f290162764fbd09e148d878ff4295b80 = L.map(
                "map_f290162764fbd09e148d878ff4295b80",
                {
                    center: [55.613193, 51.784821],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8a846f638050a43589470267393ebb78 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var marker_ab573b3b79249f77687c7af2834740a7 = L.marker(
                [55.539306, 51.856451],
                {}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var icon_53ef0a2e1b2994e781234a79c5f08b7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ab573b3b79249f77687c7af2834740a7.setIcon(icon_53ef0a2e1b2994e781234a79c5f08b7d);
        
    
        var popup_8f466cd4ea85b978dfeccf8e63f97741 = L.popup({"maxWidth": "100%"});

        
            
                var html_4b7ef5c0dbaa629c85e93ab9fc33c52d = $(`<div id="html_4b7ef5c0dbaa629c85e93ab9fc33c52d" style="width: 100.0%; height: 100.0%;">д. Клятле</div>`)[0];
                popup_8f466cd4ea85b978dfeccf8e63f97741.setContent(html_4b7ef5c0dbaa629c85e93ab9fc33c52d);
            
        

        marker_ab573b3b79249f77687c7af2834740a7.bindPopup(popup_8f466cd4ea85b978dfeccf8e63f97741)
        ;

        
    
    
            var marker_a31c9aa84ffbdf20ec57b4deb8f4e889 = L.marker(
                [55.622944, 51.825578],
                {}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var icon_5e8c859bedd135a5298f5ec3eed37a8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a31c9aa84ffbdf20ec57b4deb8f4e889.setIcon(icon_5e8c859bedd135a5298f5ec3eed37a8a);
        
    
        var popup_f151eb7743b3fe634cbc05261702efe2 = L.popup({"maxWidth": "100%"});

        
            
                var html_035b4ebdee1d12dc1f0b439567e71c46 = $(`<div id="html_035b4ebdee1d12dc1f0b439567e71c46" style="width: 100.0%; height: 100.0%;">ул. Ахтубинская, 4б</div>`)[0];
                popup_f151eb7743b3fe634cbc05261702efe2.setContent(html_035b4ebdee1d12dc1f0b439567e71c46);
            
        

        marker_a31c9aa84ffbdf20ec57b4deb8f4e889.bindPopup(popup_f151eb7743b3fe634cbc05261702efe2)
        ;

        
    
    
            var marker_8ff7b263b4ec653ca1ddd6d5b5d8be89 = L.marker(
                [55.650091, 51.852687],
                {}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var icon_5909067e673ca3848ae22f2cecddfc73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8ff7b263b4ec653ca1ddd6d5b5d8be89.setIcon(icon_5909067e673ca3848ae22f2cecddfc73);
        
    
        var popup_04b94788909ec750eb3c7510ecccb03f = L.popup({"maxWidth": "100%"});

        
            
                var html_78a587bdd9239fb0d3f68907c06533fb = $(`<div id="html_78a587bdd9239fb0d3f68907c06533fb" style="width: 100.0%; height: 100.0%;">ул. Гагарина, 32</div>`)[0];
                popup_04b94788909ec750eb3c7510ecccb03f.setContent(html_78a587bdd9239fb0d3f68907c06533fb);
            
        

        marker_8ff7b263b4ec653ca1ddd6d5b5d8be89.bindPopup(popup_04b94788909ec750eb3c7510ecccb03f)
        ;

        
    
    
            var marker_19bf79ddcea1f9934055e5469b33329d = L.marker(
                [55.598983, 51.771936],
                {}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var icon_23b60acc57ccfeb024965e9196873b24 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_19bf79ddcea1f9934055e5469b33329d.setIcon(icon_23b60acc57ccfeb024965e9196873b24);
        
    
        var popup_b2132ee6dfd1f29e803149e440b06cc8 = L.popup({"maxWidth": "100%"});

        
            
                var html_b997bf48cb1d1e5bb3ab0fcdab0f9b5e = $(`<div id="html_b997bf48cb1d1e5bb3ab0fcdab0f9b5e" style="width: 100.0%; height: 100.0%;">ул. Юбилейная, 3</div>`)[0];
                popup_b2132ee6dfd1f29e803149e440b06cc8.setContent(html_b997bf48cb1d1e5bb3ab0fcdab0f9b5e);
            
        

        marker_19bf79ddcea1f9934055e5469b33329d.bindPopup(popup_b2132ee6dfd1f29e803149e440b06cc8)
        ;

        
    
    
            var marker_faefcccf11d29af9b75a7b7dd68d9902 = L.marker(
                [55.613193, 51.784821],
                {}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var icon_2c8ca3f298934549da800b6ac434fc9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_faefcccf11d29af9b75a7b7dd68d9902.setIcon(icon_2c8ca3f298934549da800b6ac434fc9a);
        
    
        var popup_220b5c1cc2b10f01e70623b21a52ac76 = L.popup({"maxWidth": "100%"});

        
            
                var html_5cd70c2bc70444a59a36b53078fb0626 = $(`<div id="html_5cd70c2bc70444a59a36b53078fb0626" style="width: 100.0%; height: 100.0%;">ул. Южная, 3</div>`)[0];
                popup_220b5c1cc2b10f01e70623b21a52ac76.setContent(html_5cd70c2bc70444a59a36b53078fb0626);
            
        

        marker_faefcccf11d29af9b75a7b7dd68d9902.bindPopup(popup_220b5c1cc2b10f01e70623b21a52ac76)
        ;

        
    
    
            var marker_54c8938f3080b7536809048ec2b0387e = L.marker(
                [55.654578, 51.800072],
                {}
            ).addTo(map_f290162764fbd09e148d878ff4295b80);
        
    
            var icon_7a20f872cc7c556be09538e6a0744565 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_54c8938f3080b7536809048ec2b0387e.setIcon(icon_7a20f872cc7c556be09538e6a0744565);
        
    
        var popup_8ef9694a76cd5208088f5719d6557789 = L.popup({"maxWidth": "100%"});

        
            
                var html_75f1e6b0e68126d3006c12475a772ff3 = $(`<div id="html_75f1e6b0e68126d3006c12475a772ff3" style="width: 100.0%; height: 100.0%;">ул. Ямьле, 20</div>`)[0];
                popup_8ef9694a76cd5208088f5719d6557789.setContent(html_75f1e6b0e68126d3006c12475a772ff3);
            
        

        marker_54c8938f3080b7536809048ec2b0387e.bindPopup(popup_8ef9694a76cd5208088f5719d6557789)
        ;

        
    
</script>
</html>