<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6105890ab82bd93f389e52187c8d5cff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6105890ab82bd93f389e52187c8d5cff" ></div>
        
</body>
<script>
    
    
            var map_6105890ab82bd93f389e52187c8d5cff = L.map(
                "map_6105890ab82bd93f389e52187c8d5cff",
                {
                    center: [55.613193, 51.784821],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4f657ee0627c7aa3e8796fb903f9d141 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var marker_7a35cc9df05ad2d93957fcd9f45d0c5a = L.marker(
                [55.539306, 51.856451],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var icon_71e3c893c142107577e718618d772ab5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7a35cc9df05ad2d93957fcd9f45d0c5a.setIcon(icon_71e3c893c142107577e718618d772ab5);
        
    
        var popup_3c3ab175e32972a02a443609eed9a159 = L.popup({"maxWidth": "100%"});

        
            
                var html_7d7c6913cf51832d59eb86639cd52e93 = $(`<div id="html_7d7c6913cf51832d59eb86639cd52e93" style="width: 100.0%; height: 100.0%;">д. Клятле</div>`)[0];
                popup_3c3ab175e32972a02a443609eed9a159.setContent(html_7d7c6913cf51832d59eb86639cd52e93);
            
        

        marker_7a35cc9df05ad2d93957fcd9f45d0c5a.bindPopup(popup_3c3ab175e32972a02a443609eed9a159)
        ;

        
    
    
            var marker_54e6610a9ca145f161d167dfd735de58 = L.marker(
                [55.622944, 51.825578],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var icon_c4f924c68757200cb2aff8f8e5118e25 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_54e6610a9ca145f161d167dfd735de58.setIcon(icon_c4f924c68757200cb2aff8f8e5118e25);
        
    
        var popup_2e508c730eeca6bfa9fbf458e0c0268a = L.popup({"maxWidth": "100%"});

        
            
                var html_828b9463e6e8f3a9d2c4807e5eea84a3 = $(`<div id="html_828b9463e6e8f3a9d2c4807e5eea84a3" style="width: 100.0%; height: 100.0%;">ул. Ахтубинская, 4б</div>`)[0];
                popup_2e508c730eeca6bfa9fbf458e0c0268a.setContent(html_828b9463e6e8f3a9d2c4807e5eea84a3);
            
        

        marker_54e6610a9ca145f161d167dfd735de58.bindPopup(popup_2e508c730eeca6bfa9fbf458e0c0268a)
        ;

        
    
    
            var marker_6d81aab36aef0d0c85f9f4708532d980 = L.marker(
                [55.650091, 51.852687],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var icon_36709a96f1a4bf2a4a15c88b350a1320 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6d81aab36aef0d0c85f9f4708532d980.setIcon(icon_36709a96f1a4bf2a4a15c88b350a1320);
        
    
        var popup_6f6d8339b1f35818f42d6aa24953a555 = L.popup({"maxWidth": "100%"});

        
            
                var html_20fe2db88cde8b7e02449b7d7aa784e3 = $(`<div id="html_20fe2db88cde8b7e02449b7d7aa784e3" style="width: 100.0%; height: 100.0%;">ул. Гагарина, 32</div>`)[0];
                popup_6f6d8339b1f35818f42d6aa24953a555.setContent(html_20fe2db88cde8b7e02449b7d7aa784e3);
            
        

        marker_6d81aab36aef0d0c85f9f4708532d980.bindPopup(popup_6f6d8339b1f35818f42d6aa24953a555)
        ;

        
    
    
            var marker_ecb7b9b0a72b730d1d254035ef9b9c01 = L.marker(
                [55.598983, 51.771936],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var icon_4d78247a0ee77a2cfb2574e4baa55bbb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ecb7b9b0a72b730d1d254035ef9b9c01.setIcon(icon_4d78247a0ee77a2cfb2574e4baa55bbb);
        
    
        var popup_ebd30edafbe02388db10ebd79f50be24 = L.popup({"maxWidth": "100%"});

        
            
                var html_22b55fcc6fde89b995f18b863a921b57 = $(`<div id="html_22b55fcc6fde89b995f18b863a921b57" style="width: 100.0%; height: 100.0%;">ул. Юбилейная, 3</div>`)[0];
                popup_ebd30edafbe02388db10ebd79f50be24.setContent(html_22b55fcc6fde89b995f18b863a921b57);
            
        

        marker_ecb7b9b0a72b730d1d254035ef9b9c01.bindPopup(popup_ebd30edafbe02388db10ebd79f50be24)
        ;

        
    
    
            var marker_a08758d148a0239d4521738d0b090c0d = L.marker(
                [55.613193, 51.784821],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var icon_76c5ad1320482ec02d44223e39661d8b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a08758d148a0239d4521738d0b090c0d.setIcon(icon_76c5ad1320482ec02d44223e39661d8b);
        
    
        var popup_8b6e1d0eeb440afa2c78ba302e1ff5d3 = L.popup({"maxWidth": "100%"});

        
            
                var html_cd8367f479b1a0209e90f4f422f3a012 = $(`<div id="html_cd8367f479b1a0209e90f4f422f3a012" style="width: 100.0%; height: 100.0%;">ул. Южная, 3</div>`)[0];
                popup_8b6e1d0eeb440afa2c78ba302e1ff5d3.setContent(html_cd8367f479b1a0209e90f4f422f3a012);
            
        

        marker_a08758d148a0239d4521738d0b090c0d.bindPopup(popup_8b6e1d0eeb440afa2c78ba302e1ff5d3)
        ;

        
    
    
            var marker_b327829e8f69e24c4881c1f06dae11c6 = L.marker(
                [55.654578, 51.800072],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var icon_64c603685c60917670810bcf06449c2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b327829e8f69e24c4881c1f06dae11c6.setIcon(icon_64c603685c60917670810bcf06449c2f);
        
    
        var popup_d5e5a665143059d9edf2e10455840037 = L.popup({"maxWidth": "100%"});

        
            
                var html_ccd96d9b112a1cacb5daf7301aaa21bf = $(`<div id="html_ccd96d9b112a1cacb5daf7301aaa21bf" style="width: 100.0%; height: 100.0%;">ул. Ямьле, 20</div>`)[0];
                popup_d5e5a665143059d9edf2e10455840037.setContent(html_ccd96d9b112a1cacb5daf7301aaa21bf);
            
        

        marker_b327829e8f69e24c4881c1f06dae11c6.bindPopup(popup_d5e5a665143059d9edf2e10455840037)
        ;

        
    
    
            var marker_ef4b1cd469c9d17ea29a3ffbddf4c081 = L.marker(
                [55.692, 51.630279],
                {}
            ).addTo(map_6105890ab82bd93f389e52187c8d5cff);
        
    
            var div_icon_6c05af16cb436f88295829368554ae1c = L.divIcon({"className": "empty", "html": "\n    \u003cdiv\n        style=\"font-size: 18pt;\n               color: gray;\n               background: white\"\u003e\n        \u003cb\u003e\u041f\u0443\u043d\u043a\u0442\u044b \u043a\u043e\u043d\u0442\u0440\u043e\u043b\u044f \u0432\u043e\u0437\u0434\u0443\u0448\u043d\u043e\u0439 \u0441\u0440\u0435\u0434\u044b\u003c/b\u003e\u003c/div\u003e\n", "iconSize": [250, 36]});
            marker_ef4b1cd469c9d17ea29a3ffbddf4c081.setIcon(div_icon_6c05af16cb436f88295829368554ae1c);
        
</script>
</html>